/* Variables CSS */
:root {
  --main-color: #9a1534;
  --dark-red: darkred;
  --light-grey: lightgrey;
  --dark-green: darkgreen;
  --white: #ffffff;
}

/* Estilos Globales */
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal-input {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 2%;
}

form button {
  border-radius: 4px;
  color: white;
  border: none;
  background-color: var(--dark-green);
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Header */
.header {
  display: grid;
  width: 99.5%;
  height: 30px;
  border-radius: 6px;
  border: solid var(--main-color);
  padding: 0;
}

.nav-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--main-color);
  color: var(--white);
  justify-content: space-around;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.buscador {
  height: 70%;
  width: 50%;
  border-radius: 4px;
  border: solid var(--main-color);
}

.filtrado {
  border-radius: 4px;
  border: solid var(--main-color);
  background-color: var(--white);
  cursor: pointer;
}

/* Tabla */
.table_container {
  max-height: 30vh;
  overflow-y: auto;
  border-radius: 5px;
  margin-top: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: var(--white);
}

th {
  background-color: var(--main-color);
  color: var(--white);
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
}

.contenedor_botones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin: 2vw;
}

.botones {
  border-radius: 4px;
  border: none;
  width: 130px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botones:hover {
  background-color: lightcyan;
}

.botonesred {
  color: white;
  border-radius: 4px;
  border-color: white;
  width: 130px;
  height: 30px;
  background-color: darkred;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.botonesred:hover {
  background-color: red;
}

.botones a {
  color: black;
  text-decoration: none;
}

#contenedor_vender {
  margin: 2vw;
  display: flex;
}

#vender {
  border-radius: 4px;
  border: none;
  background-color: var(--dark-green);
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s;
}

#vender:hover {
  background-color: seagreen;
}

#vender h3 {
  font-size: large;
  font-weight: 500;
  color: var(--white);
}

/* Contenedor Principal */
.contenedor {
  width: 80vw;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* Modales */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Botones del Modal */
.btn-ingresar,
.btn-egresar,
.btn-confirmar,
.btn-cancelar {
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-ingresar {
  background-color: var(--dark-green);
  color: var(--white);
}

.btn-ingresar:hover {
  background-color: seagreen;
}

.btn-egresar {
  background-color: var(--dark-red);
  color: var(--white);
}

.btn-egresar:hover {
  background-color: red;
}

.btn-confirmar {
  background-color: var(--dark-red);
  color: var(--white);
}

.btn-confirmar:hover {
  background-color: red;
}

.btn-cancelar {
  background-color: grey;
  color: var(--white);
}

.btn-cancelar:hover {
  background-color: var(--light-grey);
}
